/* 导航主体 */
.nav-side {
  margin-top: 10px;
  float: left;
  width: 178px;
  min-height: 100px;
  border: 1px solid #eaeaea;
  padding: 50px 40px;
  box-sizing: border-box;
}

.nav-side .nav-item {
  line-height: 35px;
  font-size: 13px;
}

.nav-side .nav-item .link {
  color: #888;
}

.nav-side .nav-item.active .link {
  color: #b4a078;
}

/* 右侧内容区 */
.content.with-nav {
  float: left;
  width: 910px;
}
