<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <%= require('./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %> - ACE 吴亦凡</title>
</head>

<body>
  <%= require('./layout/nav-simple.html') %>
  <%= require('./layout/nav.html') %>
  <div class="page-wrap width stick-footer-content">
    <div class="stick-footer-content-inside">
      <div class="cart-goods-list">
        <!-- 数据由 JS 渲染-->
      </div>
    </div>
  </div>
  <%= require('./layout/footer.html') %>
</body>

</html>