<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %> - ACE_Mall</title>
</head>

<body>
  <%= require('./layout/nav-simple.html') %>
  <div class="page-wrap width stick-footer-content">
    <div class="stick-footer-content-inside">
      <div class="user-con">
        <div class="user-title">
          修改密码
        </div>
        <div class="err-box">
          <i class="ace-icon ace-tishi"></i>
          <span class="err-msg"></span>
        </div>
        <div class="user-box">
          <div class="user-item">
            <label for="old-password">
              <i class="ace-icon ace-mima"></i>
            </label>
            <input type="password" class="user-content" id="old-password" placeholder="请输入旧密码">
          </div>
          <div class="user-item">
            <label for="new-password">
              <i class="ace-icon ace-mima"></i>
            </label>
            <input type="password" class="user-content" id="new-password" placeholder="请输入新密码">
          </div>
          <div class="user-item">
            <label for="confirm-password">
              <i class="ace-icon ace-mima"></i>
            </label>
            <input type="password" class="user-content" id="confirm-password" placeholder="请确认新密码">
          </div>
          <buttom class="btn btn-login" id="submit">修改</buttom>
          <div class="link-item">
            <a class="link" href="./register.html" target="_blank">忘记密码</a>
            <a class="link" href="./register.html">免费注册</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= require('./layout/footer.html') %>
</body>

</html>