<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %> - ACE_Mall</title>
</head>
<body>
<%= require('./layout/nav-simple.html') %>
<%= require('./layout/nav.html') %>
<div class="page-wrap width">
  <!-- 面包屑导航 -->
  <div class="crumb">
    <div class="crumb-con">
      <a href="./index.html" class="link crumb-home">首页</a>
      <span class="link-text">></span>
      <span class="link-text crumb-this">所有产品</span>
    </div>
  </div>
  <div class="goods-sort">
    <h2>排序:</h2>
    <ul class="sort-list">
      <li class="sort-item active">
        <a href="" class="link">
          默认
        </a>
      </li>
      <li class="sort-item">
        <a href="" class="link">
          价格
          <i class="ace-icon ace-shangjiantou"></i>
          <i class="ace-icon ace-xiajiantou"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<%= require('./layout/footer.html') %>
</body>
</html>
