<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %> - ACE_Mall</title>
</head>
<body>
<%= require('./layout/nav-simple.html') %>
<%= require('./layout/nav.html') %>
<div class="page-wrap width">
  <div class="crumb">
    <div class="crumb-con">
      <a href="./index.html" class="link">首页</a>
      <span class="link-text">></span>
      <span class="link-text">所有产品</span>
    </div>
  </div>
  <div class="goods-sort">
    <h2>排序:</h2>
    <ul>
      <li>默认</li>
      <li>
        <a href="" class="link">
          价格
          <i class="ace-icon ace-shangjiantou"></i>
          <i class="ace-icon ace-xiajiantou"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<%= require('./layout/footer.html') %>
</body>
</html>
