<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <%= require('./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %> - ACE 吴亦凡</title>
  <!-- swiper 轮播插件 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
</head>

<body>
  <%= require('./layout/nav-simple.html') %>
  <%= require('./layout/nav.html') %>
  <div class="stick-footer-content">
    <div class="stick-footer-content-inside">
      <div class="swiper-container">
        <div class="swiper-wrapper">
        </div>
      </div>
      <!-- 分割线 -->
      <div class="page-wrap width">
        <img class="home-loading"
          src="https://media0.giphy.com/media/131tNuGktpXGhy/giphy.gif?cid=790b76115cc55c754c5a35476f8d3eb3&rid=giphy.gif"
          alt="">
      </div>
    </div>
  </div>
  <%= require('./layout/footer.html') %>
  <!-- swiper 轮播插件 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
</body>

</html>
