<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %> - ACE_Mall</title>
  <!-- swiper 轮播插件 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
</head>
<body>
  <%= require('./layout/nav-simple.html') %>
  <%= require('./layout/nav.html') %>
  <div class="swiper-container">
    <div class="swiper-wrapper">
    </div>
  </div>
  <!-- 分割线 -->
  <div class="page-wrap width">
  </div>
  <div class="page-end">
  </div>
  <%= require('./layout/footer.html') %>
  <!-- swiper 轮播插件 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
</body>
</html>
