<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %> - ACE_Mall</title>
</head>
<body>
  <%= require('./layout/nav-simple.html') %>
  <%= require('./layout/nav.html') %>
  <div class="page-wrap width stick-footer-content">
    <div class="stick-footer-content-inside">
      <%= require('./layout/nav-side.html') %>
      <div class="content with-nav">
        <h1 class="title">我的ACE_Mall</h1>
        <div class="account-wrap">
          <div class="account-left">
            <div class="avatar">
              <img width="100%" height="100%" src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=3328833007,2511671815&fm=58&bpow=626&bpoh=882" alt="">
            </div>
            <div class="user-info">
              <input type="text" class="user-name" value="Kris wu">
              <input type="text" class="user-phone" value="11111">
            </div>
          </div>
          <div class="account-right"></div>
        </div>
      </div>
    </div>
  </div>
  <%= require('./layout/footer.html') %>
</body>
</html>
