<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %> - ACE 吴亦凡</title>
</head>

<body>
  <%= require('./layout/nav-simple.html') %>
  <%= require('./layout/nav.html') %>
  <div class="page-wrap width stick-footer-content">
    <div class="stick-footer-content-inside">
      <%= require('./layout/nav-side.html') %>
      <div class="order-detail">
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <%= require('./layout/footer.html') %>
</body>

</html>
