.cart-goods-list {

}

.cart-goods-list .list-head {
}
.cart-goods-list .list-head .list-item {
  border: none;
}

.list-item-wrap {
  display: flex;
  height: 70px;
  line-height: 70px;
}

.list-body .list-item-wrap {
  height: 117px;
  line-height: 117px;
}

.list-item-wrap .list-item {
  border-top: 1px solid #e0e0e0;
  text-align: center;
  color: #424242;
  font-size: 14px;
}

.list-item-wrap .list-item .link {
  color: #424242;
}

.list-item-wrap .list-item .link:hover {
  color: #b4a078;
}

.list-item-wrap .item-check {
  width: 80px;
  flex: 0 0 80px;
  text-align: left;
}

.list-item-wrap .item-img {
  width: 110px;
  flex: 0 0 110px;
}

.list-item-wrap .item-img img {
  width: 80px;
  height: 80px;
  text-align: center;
  align-items: center;
  margin-top: 15px;
  float: left;
}

.list-item-wrap .item-name {
  width: 300px;
  flex: 0 0 300px;
  text-align: left;
  text-overflow : ellipsis;
  overflow: hidden;
  white-space:nowrap;
}


.list-item-wrap .item-price {
  width: 160px;
  flex: 0 0 160px;
}

.list-item-wrap .item-num {
  width: 150px;
  flex: 0 0 150px;
}

.list-item-wrap .item-total {
  width: 200px;
  flex: 0 0 200px;
}

.list-item-wrap .item-action {
  width: 80px;
  flex: 0 0 80px;
  text-align: center;
}

.list-body .list-item-wrap .item-name {
  font-size: 18px;
}

.list-body .list-item-wrap .item-total {
  color: #b4a078;
  font-size: 16px;
}

.list-body .list-item-wrap .item-num {
  display: flex;
  align-items: center;
}

/* 数量加减 */

.goods-count {
  width: 60px;
  height: 30px;
  outline: none;
  padding: 0;
  text-align: center;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.goods-count-btn {
  display: inline-block;
  width: 36px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
}

.goods-count-btn:hover {
  background: #e0e0e0;
  transition: all .3s;
}

.goods-count-btn.minus{
  margin-left: -1px;
}

/* 下方结算 */
.cart-bar {
  margin: 20px 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.cart-bar .bar-item {
  display: flex;
  align-items: center;
}

.cart-bar .cart-total-num, .cart-select-num {
  color: #b4a078;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + .check-box::after {
  content: '√';
  display: block;
  position: absolute;
  top: -50px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 100%;;
}

input[type=checkbox]:checked + .check-box.all::after {
  top: -27px;
}

input[type=checkbox]:checked + .check-box {
  background: #b4a078;
}

.check-box {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #F0F0F2;
  border-radius: 2px;
  position: relative;
}

.cart-bar .all-price {
  color: #b4a078;
  padding-right: 20px;
}

.cart-bar .cart-total-price {
  font-size: 26px;
}

/* 删除 icon */
.ace-cha {
  font-size: 14px;
  color: #ccc;
  transition: all .3s;
  cursor: pointer;
}

.ace-cha:hover {
  color: #b4a078;
  background: #dddddd;
  padding: 10px;
  border-radius: 50%;
}

/* 无商品 icon */
.cart-null .icon-svg {
  display: block;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}

.cart-null .nodata {
  text-align: center;
  padding: 20px;
  color: #ccc;
}

.cart-null .btn-gobuy {
}
