.footer {
  height: 250px;
  background: #414141;
}

.footer .ensure {
  color: white;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #4f4f4f;
}

.footer .ensure ul li {
  float: left;
  margin: 0 auto;
  width: 25%;
  text-align: center;
  font-size: 18px;
}

/* 网站信息 */
.site-info {
  height: 36px;
  line-height: 36px;
  margin-top: 20px;
}

.site-info ul li {
  float: left;
  text-align: center;
}

.site-info ul.ul1 li {
  width: calc(100% / 9);
}

.site-info ul.ul2 li {
  width: calc(100% / 6);
}

.site-info ul.ul3 li {
  width: calc(100% / 1);
}


