.footer {
  height: 250px;
  background: #414141;
}

.footer .ensure {
  color: white;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #4f4f4f;
  margin-bottom: 20px;
}

.footer .ensure ul li {
  float: left;
  margin: 0 auto;
  width: 25%;
  text-align: center;
  font-size: 18px;
}

/* 网站信息 */
.site-info {
  height: 36px;
  line-height: 36px;
}

.site-info ul {
  display: flex;
}

.site-info ul li {
  float: left;
  text-align: center;
  flex: 1;
}

