.page-wrap {
  padding-bottom: 100px;
}

/* 排序 */
.goods-sort {
  display: flex;
  border-bottom: 1px dashed #ccc;
  height: 50px;
  align-items: center;
}

.goods-sort h2 {
  color: #333;
}

.goods-sort ul {
  display: flex;
  height: 100%;
  align-items: center;
}

.goods-sort .sort-list .sort-item {
  padding: 0 0 0 20px;
  position: relative;
}

.goods-sort .sort-item .ace-shangjiantou {
  position: absolute;
  top: -3px;
  right: -15px;
  font-size: 12px;
}

.goods-sort .sort-item .ace-xiajiantou {
  position: absolute;
  right: -15px;
  top: 5px;
  font-size: 12px;
}

.sort-list .sort-item.active a {
  color: #b4a078;
}
