.order-wrap {
  width: calc(100% - 178px);
  float: right;
}

.order-tab-wrap {
  height: 56px;
  line-height: 56px;
}

.order-tab-wrap .order-tab-list {
  display: flex;
}

.order-tab-wrap .order-tab-list .order-tab-item {
  padding-left: 20px;
  cursor: pointer;
}

.order-tab-wrap .order-tab-list .order-tab-item.active {
  color: #b4a078;
}

.order-tab-wrap .order-tab-list .order-tab-item::after {
  content: ' ';
  width: 1px;
  height: 10px;
  background: #cccccc;
  display: inline-block;
  margin-left: 20px;
}

.order-tab-wrap .order-tab-list .order-tab-item:last-child:after {
  display: none;
}

/* 订单 */

.order-card {
  width: calc(100% - 2px);
  min-height: 234px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.evaluate-goods .order-card {
  min-height: 0px;
}

.order-card:last-child {
  margin-bottom: 10px;
}

.order-card .card-header {
  height: 100px;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}

.card-header .order-summar {
  font-size: 18px;
  color: #b4a078;
}

.card-header .order-money {
  color: #757575;
}

.card-header .order-money span {
  font-size: 28px;
  color: #333;
}

.card-header .order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
}

/* 商品卡片主要内容 */

.order-card-wrap .card-body {
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.evaluate-popup .card-body {
  height: 315px;
  overflow-y: scroll;
}

.card-body .card-body-left {
  float: left;
  width: 690px;
}

.card-goods-list .card-goods-item {
  margin-top: 10px;
}

.card-goods-item .goods-img {
  float: left;
}

.card-goods-item .goods-desc {
  padding: 18px 18px 18px 100px;
  line-height: 22px;
}

.goods-desc .goods-name {
  color: #333;
}

.goods-desc .goods-name:hover {
  color: #b4a078;
}

.card-body .card-body-right {
  overflow: hidden;
  float: right;
  width: 180px;
}

/* 按钮 */

.pay-now {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  background: #b4a078;
  color: #fff;
  font-size: 12px;
  text-align: center;
  float: right;
  cursor: pointer;
  text-decoration: none;
}

.btn-border {
  display: inline-block;
  width: 118px;
  height: 28px;
  line-height: 30px;
  color: #757575;
  font-size: 12px;
  text-align: center;
  float: right;
  border: 1px solid #b0b0b0;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}

.card-goods-list .goods-img {
  width: 80px;
  height: 80px;
}

/* 评价弹窗 */

.evaluate-popup {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 99999;
}

.evaluate-popup .evaluate-main {
  position: absolute;
  top: 50%;
  margin-top: -350px;
  left: 50%;
  margin-left: -545px;
  width: 1080px;
  height: 500px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);
}

.evaluate-main .evaluate-head {
  display: flex;
  height: 25px;
  justify-content: space-between;
}

/* 星星 */

.star-wrap {}

.star-list {
  overflow: hidden;
}

.star-item {
  float: left;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}

.star-item {
  color: #ccc;
  cursor: pointer;
}

.star-item:hover {
  color: orange;
}

.star-item.active {
  color: orange;
}

.evaluate-text-wrap {}

.evaluate-text {
  width: 120px;
  height: 50px;
  outline: none;
  resize: none;
  border-color: #ccc;
  margin-top: 5px;
  border-radius: 2px;
  padding: 5px;
}

/* 关闭 icon */

.ace-cha {
  font-size: 20px;
  color: #ccc;
  transition: all .3s;
  cursor: pointer;
}

.ace-cha:hover {
  color: #b4a078;
}