<div class="footer">
  <div class="width">
    <div class="ensure">
      <ul>
        <li>
          吴亦凡自营电商
        </li>
        <li>
          30天无忧退换货
        </li>
        <li>
          满88元免邮费
        </li>
        <li>
          品质保证
        </li>
      </ul>
    </div>
    <div class="site-info">
      <ul class="ul2">
        <li>
          <a href="" class="link">关于我们</a>
        </li>
        <li>
          <a href="" class="link">帮助中心</a>
        </li>
        <li>
          <a href="" class="link">售后服务</a>
        </li>
        <li>
          <a href="" class="link">配送与验收</a>
        </li>
        <li>
          <a href="" class="link">商务合作</a>
        </li>
        <li>
          <a href="" class="link">企业采购</a>
        </li>
        <li>
          <a href="" class="link">开放平台</a>
        </li>
        <li>
          <a href="" class="link">搜索推荐</a>
        </li>
        <li>
          <a href="" class="link">友情链接</a>
        </li>
      </ul>
    </div>
    <div class="site-info">
      <ul>
        <li>
          <a href="" class="link">食品经营许可证：Galaxy-qing</a>
        </li>
        <li>
          <a href="" class="link">出版物经营许可证：Kris wu</a>
        </li>
        <li>
          <a href="" class="link">妙得ICP证号：Mei Geni</a>
        </li>
        <li>
          <a href="" class="link">第二类医疗器械经营备案</a>
        </li>
        <li>
          <a href="" class="link">ACE_Mall 营业执照</a>
        </li>
        <li>
          <a href="" class="link">Galaxy-qing Kris wu 版权所有</a>
        </li>
      </ul>
    </div>
    <div class="site-info">
      <ul>
        <li>
          <a href="" class="link">单用途商业预付卡备案证: Galaxy-qing Kris wu Mei Geni</a>
          <a href="" class="link"><img src="http://yanxuan.nosdn.127.net/86f32b668af6e537389a77480fb5c74d.gif" class="shield" alt=""></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
