<noscript>
  <p class="no-script">您的浏览器未开启JavaScript,请开启JavaSctipt以访问全部内容</p>
  <h1>ACE 吴亦凡</h1>
  <h1>梅格妮</h1>
  <h1>每个你</h1>
  <h1>吴亦凡的ace</h1>
  <h1>吴亦凡的ace</h1>
  <h1>吴亦凡的ace</h1>
  <h1>吴亦凡的ace</h1>
  <h1>吴亦凡的ace</h1>
  <style>
    .no-script {
      position: absolute;
      top: 300px;
      z-index: 999;
      width: 100%;
      text-align: center;
      font-size: 30px;
    }
  </style>
</noscript>
<footer class="footer">
  <div class="width">
    <div class="ensure">
      <ul>
        <li>
          K.吴亦凡自创奢侈品牌
        </li>
        <li>
          R.忠于自我
        </li>
        <li>
          I.不拘一格
        </li>
        <li>
          S.不断探索
        </li>
      </ul>
    </div>
    <div class="site-info">
      <ul class="ul2">
        <li>
          <a href="" class="link">关于我们</a>
        </li>
        <li>
          <a href="" class="link">帮助中心</a>
        </li>
        <li>
          <a href="" class="link">售后服务</a>
        </li>
        <li>
          <a href="" class="link">配送与验收</a>
        </li>
        <li>
          <a href="" class="link">商务合作</a>
        </li>
        <li>
          <a href="" class="link">企业采购</a>
        </li>
        <li>
          <a href="" class="link">开放平台</a>
        </li>
        <li>
          <a href="" class="link">搜索推荐</a>
        </li>
        <li>
          <a href="" class="link">友情链接</a>
        </li>
      </ul>
    </div>
    <div class="site-info">
      <ul>
        <li>
          <a href="http://meigeni.cn" class="link">galaxy_fanfan 的 galaxy_qingqing</a>
        </li>
        <li>
          <a href="http://meigeni.cn" class="link">A.C.E：Kris wu</a>
        </li>
        <li>
          <a href="http://meigeni.cn" class="link">梅格妮：Mei Geni</a>
        </li>
        <li>
          <a href="http://meigeni.cn" class="link">ace 吴亦凡</a>
        </li>
        <li>
          <a href="http://meigeni.cn" class="link">A.C.E 吴亦凡</a>
        </li>
        <li>
          <a href="http://meigeni.cn" class="link">ACE 吴亦凡</a>
        </li>
      </ul>
    </div>
    <div class="site-info">
      <ul>
        <li>
          <a href="http://meigeni.cn" class="link">梅格妮galaxy_qingqing的毕业设计 ACE商城</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b5e975a17bb3da84c5e41c6cec9b99be";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
