<div class="nav-simole-wrap">
  <div class="nav-simple">
    <div class="width">
      <a href="./index.html" class="logo">A.C.E_吴亦凡</a>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./cart.html" class="link">
            购物车(<span class="cart-count">0</span>)
          </a>
        </li>
        <li class="nav-item">
          <a href="./my-ace.html" class="link">
            我的ACE
          </a>
        </li>
      </ul>
      <div class="user login">
        <span class="link-text">
          欢迎你
          <span class="username">吴亦凡</span>
          !
        </span>
        <span class="link logout">
          退出
        </span>
      </div>
      <div class="user no-login">
        <span class="link js-login">
          登录
        </span>
        <span class="link js-register">
          注册
        </span>
      </div>
    </div>
  </div>
</div>