<div class="nav-simple">
  <div class="width">
    <a href="" class="logo">ACE_Mall</a>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./cart.html" class="link">
          购物车(<span class="cart-count">0</span>)
        </a>
      </li>
      <li class="nav-item">
        <a href="./myace.html" class="link">
          我的ACE
        </a>
      </li>
    </ul>
    <div class="user login">
      <span class="link-text">
        欢迎你
        <span class="username">Kris</span>
        !
      </span>
      <span class="link">
        退出
      </span>
    </div>
    <div class="user no-login">
      <span class="link js-login">
        登录
      </span>
      <span class="link js-register">
        注册
      </span>
    </div>
  </div>
</div>
