/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  background: #fff;
  font: 12px/1.5 "Tahoma", "Arial", "Microsoft Sans Serif", "Microsoft Yahei";
  user-select: none;
}

label, input[type='checkbox'] {
  cursor: pointer;
}

/* 定宽布局 */

.width {
  width: 1090px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* 全局通用样式 */

/* 隐藏类 */

.hide {
  display: none;
}

/* 超链 */

.link {
  color: #999;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  color: #b4a078;
}

.link-text {
  color: #999;
  text-decoration: none;
}

/* 按钮 */

.btn {
  display: inline-block;
  padding: 0 132px;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  border: none;
  background: #b4a078;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2px;
}

.btn-mini {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 0 10px;
}

/* loading */

.loading {
  display: block;
}

/* 面包屑导航 */

.crumb {
  height: 40px;
  line-height: 40px;
}

/* 无数据icon */

.ace-zanwushangpin {
  display: block;
  margin-top: 50px;
  text-align: center;
  font-size: 100px;
  color: #cccccc;
}

/* stick footer布局 */

.stick-footer-content {
  min-height: calc(100% - 125px);
  margin-top: 85px;
}

.stick-footer-content-inside {
  padding-bottom: 250px;
}

.loading-text {
  text-align: center;
  font-size: 30px;
  padding: 100px;
  color: #ccc;
}

/* 清除浮动 */

.clear {
  clear: both;
}

/* 商品名可选中 */

.goods-name {
  user-select: text;
}